.line1{color:black;font-size :40px;}
.table1{background-color: #4caf50;}
.mi{color:black;font:italic;font-size:65px;}
.table2{background:black;
margin:auto;
width:100%;
text-align:center}
.table3{
    margin:auto;
    width:100%;
    color:#4caf50;
    background-color: black;
    text-align:center;
}
.table4{margin:auto;
    width:100%;
    color:white;
    background-color: black;
    font: size 30px;
    }
.table5{
    background: #c2c0c3;
margin:auto;
width:100%;
text-align:center
}
.table6{  background: #c2c0c3;
    margin:auto;
    width:100%;
    text-align:center}
    .lulu{background: #131114;
        margin:auto;
        width:100%;
        text-align:center}
.lmao{ background: #131114;
    color:white;
    margin:auto;
    width:100%;

font-size:20px}
#nonono{ background:#c2c0c3;
 
    margin:auto;
    width:100%;}

.table09{background:black;
    margin:auto;    
    width:40%;
    text-align:center}
.csss{ margin:auto;    
    width:100%;
    text-align:center;
background:#c2c0c3;
    }
    .line2{color:black;font-size :20px;}
    .iss{
        background:black;
        width:100%;
    }